#textOnDemandListContainer{
    background: white;
    border: 2px solid lightblue;
    width: max-content;
    height: 200px;
    width: 250px;
    overflow-y: scroll;
}

ul{
    list-style: none;
    padding: unset;  
    li {
        cursor: pointer;
       
        &:hover{
            background: aliceblue;
        }
    }
} 