@import "../../../../../assets/styles/variables";

.filter-result-container {
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-bottom: 0.75em;
  text-align: left;
  cursor: pointer;
  background: #ffffff;
}
.flight-result-row {
  padding: 1.5em 0 0.75em 0;
  font-size: 1.6rem;
}
.flight-result-col {
  min-height: 37px;
}
.flight-result-col-text {
  line-height: 37px;
}
.flight-class {
  color: #b3b3b3;
}
.flight-price {
  font-size: 2.2rem;
  color: #4a4949;
}
.img-airline-logo {
  width: 3em;
  height: 3em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  //margin-left: 1em;
}

.airline-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#filterResultContainer.fligt-hover,
#filterResultContainer.fligt-selected {
  box-shadow: 3px 5px #cccdcd;
}

#filterResultContainer.fligt-hover {
  background-color: #fbfbfb;
}

#filterResultContainer.fligt-selected {
  border: 3px solid #8bc34a;
}
.flight-result-let--heading {
  font-weight: 900;
  font-size: 16px;
  padding-bottom: 10px;
  display: inline-block;
}
.return-options-text {
  font-size: 1.4rem;
  color: $return-options-text;
}

.policy-symbol {
  height: 8px;
  width: 83px;
  display: inline-block;
}

@mixin font-float-color( $font, $color, $float){
  font-size: $font;
  color: $color;
  float: $float;
}


.departure-date-month-day{
  @include font-float-color(14px, $tas-azure-dark, left);
}

.arrival-date-month-day{
  @include font-float-color(14px, $light-green, right);
  margin-right: 0.7em;
}

.arrival-date-hour{
  @include font-float-color(16px, $light-green, right);
  font-weight: bold;
}

.departure-date-hour{
  @include font-float-color(16px, $tas-azure-dark, left);
  font-weight: bold;
  margin-left: 0.7em;
}

.departure-date-month-day-leg,
.departure-date-hour-leg
{
  @include font-float-color(16px, $tas-azure-dark, left);
  &.centered{
    margin-top: -0.2em;
    margin-right: 0.3em;
  }
}

.arrival-date-month-day-leg,
.arrival-date-hour-leg
{
  @include font-float-color(16px, $light-green, right);
  margin-right: 0.6em;
  margin-top: -0.2em;
  &.centered{
    margin-top: -0.2em;
    margin-right: 0.3em;
  }
}

.flight-duration-departure-leg{
  float: left;
  margin-left: -14px;
  margin-right: 5px;
}

.flight-duration-arrival-leg{
  float: right;
  margin-right:0.4em;
}

.flight-duration-leg-container{
  height: 40px;
  background-color: #f7f7f7;
  color: #f7f7f7;
  margin-bottom: 1em;
  margin-top: 0.5em;
  .flight-duration-leg-inner-container{
    position: relative;
    top: 25%;
    margin-top: 10px;
  }
}

.airplane-departure-blue{
  position: absolute;
  top: 4px;
  left: 15px;
}

.airplane-arrival-green{
  position: absolute;
  left: 84%;
  top: 68%;
}
