$flight-list-navigator-main-color:#8bc34a;
$flight-list-navigator-bg-color:#3c3c4a;

.flight-list-navigator-container {
  width:335px;
  height:70px;
  background-color: $flight-list-navigator-bg-color;
  border-radius: 40px;
  position:fixed;
  bottom:150px;
  right:60px;
  padding-top: 16px;
  opacity: 0.7;
}
.flight-list-navigator--btn{
  border-radius: 7px;
  padding: 6px 32px;
  font-size: 18px;
  border: 1px solid #8bc34a;
  margin:0 5px;
}

.flight-list-navigator--btn--next, .flight-list-navigator--btn--next.btn-default{
  background: $flight-list-navigator-main-color;
  color: #ffffff;
  outline: none;
  &.disabled:hover{
    background: #CCC;
    cursor: not-allowed;
  }
}


.flight-list-navigator--btn--back, .flight-list-navigator--btn--back.btn-default:active:focus {
  background: $flight-list-navigator-bg-color;
  color: $flight-list-navigator-main-color;
  outline: none;
}

.flight-list-navigator--btn-location, .flight-list-navigator--btn-location.btn-default:active:focus {
  background: url('../../../assets/images/location.png') center no-repeat;
  width: 39px;
  padding:0;
  height: 38px;
  outline: none;
}
