@import "../../../assets/styles/variables";

.flight-duration-graph-container {
  width: 100%;
  height: 5px;
}
.flight-duration-graph-line {
  float: left;
}
.flight-duration-graph-empty-line {
  height: 60%;
  width: 100%;
  margin-top: 1px;
  background-color: $flight-duration-graph-empty;
}

.flight-duration-graph-line--left-corner {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.flight-duration-graph-line--right-corner {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.flight-duration-graph-full-line {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(-90deg, #8bc349 0%, #1377f9 100%);
}

.flight-duration-graph-break-line {
  height: 5px;
  width: 100%;
  background-color: $flight-duration-graph-break;
}

.flight-duration-break{
  position: absolute;
  background: #d0d0d0;
  z-index: 999;
  height: 100%;
  left: 10%;
  border-top: 1.2px solid;
  border-bottom: 1.2px solid;
  border-collapse: currentColor;
}
