@import "../../assets/styles/variables";

#obtHeader{
    background: #F0F1F1;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    margin-bottom: 2em;
    padding: 16px 10px;
}

.flight-result-count{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    margin:5px 0 0 1em;
}

.sort-by{
    margin-top: 0;
    text-align: right;
    padding-right: 1.3em;
}

.sort-by-title {
  margin-right:15px;
  font-size:1.6rem;
}

.ui-dropdown .ui-dropdown-label{
    text-align: center;
}
.destination-list-wrapper {
  background-color: #f0f1f1;
  border-radius: 5px;
  border: #ccc 1px solid;
  padding-top: 8px;
}

.destination-list-heading-policy {
  margin-left: 15px;
}
.destination-list-heading-price {
  display: inline-block;
  width:30%;
}

.destination-blue{
  color: #1478fa;
}

.arrival-green{
  color: $light-green;
}

.header-select-flight {
  margin-right: 1em;
}

.header-select-flight-font{
  font-size: 18px;
}

.header-select-flight-h4{
  color: $wild-willow;
}

.header-select-flight-container{
  margin-bottom: 2em;
}