//********************************
//* URLS *
//********************************
$image_url:'assets/images';


//********************************
//* APP COLOURS *
//********************************
$black-haze: #f4f5f5;
$tas-gray: #f6f6f8;
$black-haze-lite: #f0f1f1;
$iron: #dfe0e1;
$tas-azure: #3bafda;
$tas-azure-dark: #1478fa;
$mako: #45454f;
$link-water: #e9f2f9;
$sushi: #8bc34a;
$cod-gray: #161616;
$boulder: #7b7a7a;
$athens-gray: #f8f8f9;
$wild-willow: #a0cd6c;
$silver: #cccccc;
$white: #ffffff;
$alto: #d0d0d0;
$charade: #282834;
$light-green: #8bc34a;


$link-color: #1478fa;

//General
$app-background:#f4f5f5;

//Flight results
$return-options-text:#7b7a7a;

//Flight duration graph
$flight-duration-graph-empty:#d0d0d0;
$flight-duration-graph-full:#1478fa;
$flight-duration-graph-break:#f0f1f1;

//PrimeNg colors
$ngp-slider-range-full:#1478fa;
$ngp-slider-range-empty:#d0d0d0;
$ngp-slider-float-value:#1478fa;
$ngp-slider-range-values:#8b8a8a;
$ngp-checkbox-border:#cccccc;
$ngp-checkbox-checked:#1674ed;
$ngp-overlay-border:#afadad;
