<div class="row">
      <div class="col-xs-12">
            <span [ngClass]="{'circle' : true , 'active' : 5 > _currentPolicy}"
                  id="policy5"
                  (click)="updateLevel(4)">5</span>
            <span [ngClass]="{'circle' : true , 'active' : 4 > _currentPolicy}"
                  id="policy4"
                  (click)="updateLevel(3)">4+</span>
            <span [ngClass]="{'circle' : true , 'active' : 3 > _currentPolicy}"
                  id="policy3"
                  (click)="updateLevel(2)">3+</span>
            <span [ngClass]="{circle : true , 'active' :  2 > _currentPolicy}"
                  id="policy2"
                  (click)="updateLevel(1)">2+</span>
            <span [ngClass]="{circle : true , active : 1 > _currentPolicy }"
                  id="policy1"
                  (click)="updateLevel(0)">1+</span>
      </div>
</div>

<div class="row">
      <div class="col-xs-12">
            <p-checkbox id="policyChkBox"
                        name="policyChkBox"
                        class="policy-check-box"
                        [(ngModel)]="_showResultsOutOfPolicy"
                        binary="true"
                        (onChange)="onShowResultsOutOfPolicyChanged($event)"
                        label="Show results out of policy"></p-checkbox>
      </div>
</div>