@import "../../../assets/styles/variables";

.policy-check-box {
  float: left;
  margin-top: 2em;
}

.circle {
  font-size: 14px;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  background: transparent;
  border: 2px solid #ccc;
  cursor: pointer;
  display: inline-block;
  padding-top: 0.7em;
  margin-left: 0.6em;
  &.active {
    background: $light-green;
  }
  &:hover {
    background: $light-green;
  }
}
