<div class="container"
     id="searchForServicesContainer">
  <h3 class="white center">Welcome to Online booking</h3>

  <div class="row">
    <div class="col-xs-12">
      <!-- Form -->
      <form id="searchForServicesForm">
        <div class="row">
          <div class="col-xs-12">
            <ul id="selectedServices">
              <li *ngFor="let serviceType of _servicesType"
                  name="servicesType">{{serviceType}} </li>
            </ul>
          </div>
        </div>
        <!-- Header Row -->
        <div class="row">
          <div class="colxs-12">
            <p class="white">Flights</p>
          </div>
        </div>

        <div class="row">
          <!-- Inner Container -->
          <div id="searchForServicesInnerContainer">
            <div class="row">
              <!-- Direction Type | One-way | Round trip | Multiple Destination -->
              <div class="col-xs-6">
                <div class="radio-group">
                  <input type="radio"
                         id="rdbRoundTrip"
                         name="directionType">
                  <label for="rdbRoundTrip">Round-Trip</label>

                  <input type="radio"
                         id="rdbOneWay"
                         name="directionType">
                  <label for="rdbOneWay">One-Way</label>

                  <input type="radio"
                         id="rdbMultipleDestination"
                         name="directionType">
                  <label for="rdbMultipleDestination">Multiple Dest.</label>
                </div>
              </div>
              <!-- Search By Schedule or by price -->
              <div class="col-xs-6">
                <div class="radio-group">
                  <input type="radio"
                         id="rdbSearchBySchedule"
                         name="searchBy">
                  <label for="rdbSearchBySchedule">Search By Schedule</label>

                  <input type="radio"
                         id="rdbSearchByPrice"
                         name="searchBy">
                  <label for="rdbSearchByPrice">Search By Price</label>
                </div>
              </div>
            </div>

            <div class="row inner-row">
              <div class="col-xs-3">
                <app-text-on-demand (selectedValue)="_selectedAirportFrom = $event"
                                    [placeholder]="'From Airport'"></app-text-on-demand>
              </div>
              <div class="col-xs-3">
                <app-text-on-demand (selectedValue)="_selectedAirportFrom = $event"
                                    [placeholder]="'To Airport'"></app-text-on-demand>
              </div>
              <div class="col-xs-4">

              </div>
              <div class="col-xs-2">

              </div>
            </div>

          </div>
        </div>


        <button class="btn btn-primary"
                type="submit"
                (click)="navigateToNext()">Search</button>
      </form>


    </div>
  </div>
</div>